.contact_section h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.contact_section p{
    font-weight: 500;
    max-width: 80%;
}

.contact_section{
    max-width: 1000px;
    margin: 0 auto;
}


